@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "tailwindcss";

:root {
  --primary-bg-gradient: linear-gradient(to top, #2c1b44, #50376f);
  --secondary-bg-gradient: linear-gradient(to top, #3f1a66, #5f3e85);
  --secondary-bg-gradient-hover: linear-gradient(to top, #57397c, #7a5cb1);

  --primary-header-gradient: linear-gradient(
    to right,
    #3f1a66,
    #5f3e85,
    #3f1a66
  );

  --primary-hr-gradient: linear-gradient(to right, #3f1a66, #5f3e85, #3f1a66);
  --secondary-hr-gradient: linear-gradient(to right, #3f1a66, #5f3e85);

  --primary-btn-gradient: linear-gradient(to top, #4b2a70, #6d4b9e);
  --nav-btn-gradient: linear-gradient(to top, #5e3c88, #9270c4);
  --nav-btn-gradient-hover: linear-gradient(to top, #4a2870, #7f61b0);

  --silver-btn-gradient: linear-gradient(to top, #2b2b2b, #595959);
  --silver-btn-gradient-hover: linear-gradient(to top, #444444, #777777);

  --text-primary: linear-gradient(to top, #a98cd9, #f2eff7);
  --text-primary-hover: linear-gradient(to top, #cbb7f0, #ffffff);

  --sb-gradient: linear-gradient(to top, #1e102e, #3f1a66, #1e102e);
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 300;
  font-style: normal;
}

th,
td,
tr {
  padding: 0.5rem;
}

.lp:hover {
  background: var(--primary-header-gradient);
  text-shadow: 0rem 0rem 1rem #000000;
}

.navgradient {
  background: var(--primary-bg-gradient);
}

.sidebar-bg {
  background: var(--sb-gradient);
}

.header {
  text-shadow: 0rem 0rem 1rem #000000;
  background-color: #1e102e;

  background-image: linear-gradient(to right, #3f1a66, #5f3e85, #3f1a66);
}

.btn-golden-gradient {
  padding: 0.5rem;
  border-radius: 0.375rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
  background: var(--secondary-bg-gradient);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  color: white;
}

.btn-gold-nav-gradient {
  color: #ffffff;
  background: var(--secondary-bg-gradient);
}

.btn-gold-bg {
  background: var(--secondary-bg-gradient);
}

.btn-gold-secondary-gradient {
  color: white;
  text-shadow: 0rem 0rem 1rem #0a0a0a;
  border-radius: 0.3rem;
  background: var(--nav-btn-gradient);
}

.btn-gold-secondary-gradient:hover {
  box-shadow: 0rem 0rem 0.5rem #bda2f3;
  background: var(--nav-btn-gradient);
}

.btn-outline-nav-gradient {
  padding: 0.5rem;
  color: #ffffff;
  background: var(--silver-btn-gradient);
  border-radius: 0.3rem;
}

.btn-outline-nav-gradient:hover {
  padding: 0.5rem;
  color: #ffffff;
  background: var(--silver-btn-gradient-hover);
  border-radius: 0.3rem;
}

.btn-golden-gradient:hover,
.btn-gold-nav-gradient:hover {
  text-shadow: 0rem 0rem 0.3rem;
  background: var(--secondary-bg-gradient-hover);
}

.btn-silver-gradient {
  background: var(--silver-btn-gradient);
}

.btn-silver-gradient:hover {
  text-shadow: 0rem 0rem 0.3rem;
  background: var(--silver-btn-gradient-hover);
}

.hr-gradient {
  height: 4px;
  border: none;
  background: var(--primary-hr-gradient);
}

.hr {
  height: 2px;
  width: 100%;
  border: none;
  background: var(--secondary-bg-gradient);
  display: block;
}

.btn-gold-gradient {
  font-weight: 800;
  color: #000000;
  background: var(--primary-btn-gradient);
}

.btn-goldsb-gradient {
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: white;
  background: var(--primary-btn-gradient);
}

/* nav styles */
.nav-btn-primary {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--text-primary);
  mix-blend-mode: normal;
}

.nav-btn-primary:hover {
  background-image: var(--text-primary-hover);
  text-shadow: 0rem 0rem 1rem;
  mix-blend-mode: normal;
}

.nav-btn-secondary {
  color: white;
  text-shadow: 0rem 0rem 0.5rem #000000;
  mix-blend-mode: normal;
}

.nav-btn-secondary:hover {
  color: var(--text-primary);
  text-shadow: 0rem 0rem 0.3rem;
  mix-blend-mode: color-dodge;
}

.nav-btn-logout {
  border-radius: 0.5rem;
  background-image: linear-gradient(to top, #232323, #2e2e2e);
}

.nav-btn-logout:hover {
  background-image: linear-gradient(to top, #2c003c, #55006a);
}

.btn-gold-outline {
  padding: 0.3rem;
  flex: 1 1 0%;
  border-radius: 0.375rem;
  border-width: 1px;
  font-size: 0.85rem;
  border-color: #8e6aad;
}

.btn-gold-outline:hover {
  color: #000000;
  background: var(--primary-btn-gradient);
  box-shadow: 0rem 0rem 0.3rem #c9acf0;
}

.active-btn {
  color: #7e7e7e;
  text-shadow: 0rem 0rem 0.5rem #000000;
  background-color: #2e2e2e;
  box-shadow: 0rem 0rem 0.5rem #000000;
}

.active-btn:hover {
  font-weight: 700;
  color: white;
  text-shadow: 0rem 0rem 0.5rem #c9acf0;
  mix-blend-mode: normal;
  background: var(--secondary-bg-gradient-hover);
  box-shadow: 0rem 0rem 0.5rem #c9acf0;
}

.selected {
  color: white;
  background: var(--secondary-bg-gradient-hover);
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #595959;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navspec {
  position: relative;
  padding: 0.15rem 0.6rem;
  overflow: hidden;
}

.navspec::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(
    rgb(185, 140, 220) 0%,
    rgb(50, 25, 75) 50%,
    rgb(185, 140, 220) 50%,
    rgb(50, 25, 75) 100%
  );
  background-size: 100% 200%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.navspec > * {
  position: relative;
  z-index: 1;
}
